@charset "UTF-8";

@font-face {
  font-family: "tongtong";
  src:url("fonts/tongtong.eot");
  src:url("fonts/tongtong.eot?#iefix") format("embedded-opentype"),
    url("fonts/tongtong.woff") format("woff"),
    url("fonts/tongtong.ttf") format("truetype"),
    url("fonts/tongtong.svg#tongtong") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tongtong" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tongtong" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\61";
}
.icon-amin:before {
  content: "\62";
}
.icon-warning:before {
  content: "\63";
}
.icon-circle-down:before {
  content: "\64";
}
.icon-play-circle:before {
  content: "\65";
}
.icon-user:before {
  content: "\66";
}
.icon-search:before {
  content: "\67";
}
.icon-home:before {
  content: "\68";
}
.icon-video:before {
  content: "\69";
}
.icon-video-camera:before {
  content: "\6a";
}
